.dashboard {
  margin-left:2em;
  margin-right:2em;
}


.container{

}

.messages {
  padding:20px;
  max-height:200px;
  overflow:scroll;
}


/* css grid */

.grid-container {
  display: grid;
  grid-gap: 2em;
  grid-row-gap:2em;
}
.grid-item {
  text-align: left;
  padding: 20px;
  font-size: 30px;
}

grid-row-gap: 1em;

