.dashboard {
  margin-left:2em;
  margin-right:2em;
  margin-bottom: 2em;
}

.messages {
  padding:20px;
  max-height:200px;
  overflow:scroll;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  margin-right: 2em;
  min-height:400px;
}

.title {
  font-size:17px;
}
.sub-title{
  line-height:2;
  font-size:12px;
}

.waiting {
  margin: 10px;
}

.chart-wrapper {
  border:1px solid #eee;
  min-height:400px;
  margin-bottom:1em;
}

@media (max-width: 1000px) {
  .flex-grid {
    display: block;
  }
  .col {
    margin-right:0em;
    width:100%;
  }
}





